{{ partial "head.html" . }}

<style>
  #aboutLink{
    color: var(--primary);
  }
</style>

{{ partial "header.html" . }}

<section id="about" class="centered about section">
  <div class="container">
    <h2>About</h2>
    <h3>Cryptopower is built by an open-source community of developers from around the world. We organize to provide the infrastructure, tools, and support to bring new members up to speed quickly. We are a resource to help the entire blockchain economy grow. Come <a href="https://matrix.to/#/!lDqGdnRvtobPSBBxGT:decred.org?via=decred.org&via=matrix.org">chat</a> with us.</h3>
  </div>
</section>

{{ partial "scripts.html" .}}
