<section id="home" class="main home centered section">
  <div class="container">
    <div class="main">
      <h1>{{ .Site.Params.main }}</h1>
      <h2>{{ .Site.Params.info }}</h2>
      <div class="downloads-container" style="margin-top: 55px;">
        <div>
          <a class="add-margin" href="https://github.com/crypto-power/cryptopower/releases"
            target="_blank">Mac OS ↓ <span style="margin-left: 5px;">|</span></a>
          <a class="add-margin"
            href="https://github.com/crypto-power/cryptopower/releases"
            target="_blank">Linux ↓ <span style="margin-left: 5px;">|</span></a>
          <a class="add-margin"
            href="https://github.com/crypto-power/cryptopower/releases"
            target="_blank">Windows ↓ <span style="margin-left: 5px;">|</span></a>
          <a class="add-margin"
            href="https://github.com/crypto-power/cryptopower/releasesz"
            target="_blank">FreeBSD ↓ <span style="margin-left: 5px;">|</span></a>
            <a class="add-margin"
            href="https://github.com/crypto-power/cryptopower/releases"
            target="_blank">Android (APK) ↓ <span style="margin-left: 5px;">|</span></a>
          <a class="add-margin" href="https://github.com/crypto-power/cryptopower/releases" target="_blank">Release Notes
            →</a>
        </div>
      </div>

      <section id="" class="downloads">
        <div class="downloads-container" style="margin-top: 55px;">
        <div>
          <!--<a href="https://play.google.com/store/apps/details?id=com.decred.dcrandroid.mainnet" target="_blank"><img src="{{ "../images/google-store-icon.png" | absURL }}" alt="AndroidApp"></a>
          <a href="https://apps.apple.com/us/app/decred-wallet/id1462247643" target="_blank"><img src="{{ "../images/apple-store-icon.png" | absURL }}" alt="iOSAPP"></a>-->
        </div>
    </div>
      </section>
      
    </div>
  </div>
</section>